apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: aria-config
resources:
- namespace.yaml
- storage/pvc-postgres.yaml
- storage/pvc-redis.yaml
- storage/pvc-raas.yaml
- storage/pvc-salt-master.yaml
- config/raas-configmap.yaml
- postgres/deployment.yaml
- postgres/service.yaml
- redis/deployment.yaml
- redis/service.yaml
- raas/deployment.yaml
- raas/service.yaml
- salt-master/deployment.yaml
- salt-master/service.yaml
- networkpolicy/00-default-deny.yaml
- networkpolicy/01-allow-dns-egress.yaml
- networkpolicy/10-raas.yaml
- networkpolicy/11-postgres.yaml
- networkpolicy/12-redis.yaml
- networkpolicy/20-salt-master.yaml